.parent {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 21cm;
    height: 29.7cm;

}

.parent-wrap{
    width: 21cm;
    height: 29.7cm;
    margin-right: auto;
    outline: 3px solid forestgreen;
}
body{
    margin: 0;
    padding: 0;
}
.ui-wrapper {
    padding-bottom: 0 !important;
}


.drop-element {
    border: 1px solid #ccc;
    position: absolute;
    box-sizing: content-box;
    cursor: move;
}
.meta-element, .drop-element {
    height: auto!important;
}

.meta-element {
    border: none;
    display: flex;
    align-items: flex-end;
}

.meta-wrap {
    width: 100%;
    text-align: center;
}

.meta-name {
    font-weight: bold;
    display: inline;
    line-height: 1.2;
}

.move-handle {
    color: #28ca4d;
    position: absolute;
    top: -25px;
    left: 0;
    height: 20px;
    width: 20px;
    font-size: 22px;
}
.card.root {
    background-color: transparent;
}
.root {
    display: none!important;
}
.root.active{
    display: block!important;
}

.view.active [data-view="position"]{
    box-shadow: 0 0 20px 0 rgba(129, 137, 143, .44);
    border-color: yellowgreen;
}

/*Table*/

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-spacing: 0;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
    padding-right: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
    padding-left: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 0;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length select {
    width: auto;
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

.dataTable.table td, .dataTable.table th {
    padding: 0.45rem;
}

.table-loading {
    position: relative;
}

.table-loading:after {
    content: "";
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
}

.table-loading-icon {
    display: none;
}

.table-loading .table-loading-icon {
    display: inline;
    font-size: 50px;
    color: #fff;
    position: absolute;
    z-index: 10;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}